.kotak-1 {
    height: 200px;
    width: 100%;
    background-color: aqua;
    border: solid;
}

.cont2 {
    display: flex;
    justify-content: space-between;
}

.kotak-2 {
    height: 200px;
    width: 200px;
    background-color: brown;
    border: solid;
    margin-top: 20px;
}

.kotak-3 {
    height: 200px;
    width: 1050px;
    border: solid;
    background-color: blue;
    margin-top: 20px;
}
.cont3 {
    display: flex;
    justify-content: space-between;
}

.kotak-4 {
    height: 200px;
    width: 200px;
    background-color: rgb(42, 165, 48);
    border: solid;
    margin-top: 20px;
}

.kotak-5 {
    height: 200px;
    width: 1050px;
    border: solid;
    background-color: rgb(140, 0, 255);
    margin-top: 20px;
}